* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #0C0C0C;
    color: #fff;
}

button {
    padding: 0.5rem 1rem;
    margin: auto;
    font-weight: 600;
}

.return {
    display: none;
}

#form {
    width: 60%;
    height: 100%;
    padding: 1rem;

    h2 {
        text-align: center;
    }

    form {
        width: 100%;
        margin-top: 2rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1rem;

        label {
            font-size: 1.2rem;
        }

        input,
        select {
            padding: 0.2rem 0.5rem;
            border-radius: 0.2rem;
            font-size: 1rem;
        }
    }
}

#ticket {
    width: 40%;
    padding: 2rem;
}

figure {
    width: 500px;
    height: 300px;
    margin: auto;
    padding: 1rem 0.5rem;
    background: #E9E9E9;

    .main {
        position: relative;
        width: 100%;
        height: 100%;
        border: 2px solid #FF5918;
        overflow: hidden;

        .header {
            width: 100%;
            height: fit-content;
            padding: 0.2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 0.8rem;
            background: #FF5918;
        }

        .body {
            width: 100%;
            height: fit-content;
            display: flex;
            align-items: center;
            padding: 0.2rem;
            color: black;

            article {
                width: 60%;

                ul {
                    list-style: none;
                }

                li {
                    display: flex;
                    gap: 2rem;
                    line-height: 1.5rem;
                    font-size: 0.8rem;
                }

                h3 {
                    text-transform: uppercase;
                    white-space: nowrap;
                }
            }

            aside {
                width: 40%;

                img {
                    width: 100%;
                }
            }

        }
    }

    .main::before {
        width: 100;
        height: 100%;
        margin-top: 3rem;
        content: "";
        position: absolute;
        inset: 0;
        background-image: url(../images/ir.png);
        opacity: 0.2;
        background-blend-mode: lighten;
        background-size: 2rem;
    }

    .main * {
        z-index: 1;
    }
}